<p id="notice"><%= notice %></p>

<h1>No De Correos</h1>

<table>
  <thead>
    <tr>
      <th>No de correo</th>
      <th>Departamento</th>
      <th>Proposito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no_de_correos.each do |no_de_correo| %>
     <% if no_de_correo.Departamento == current_user.email || current_user.departamento.nombre == no_de_correo.Departamento || current_user.admin? %>
      <tr>
	<td>INE/JLE-DGO/<%= no_de_correo.No_de_Correo %>/2019</td>
        <td><%= no_de_correo.Departamento %></td>
        <td><%= no_de_correo.Proposito %></td>
        <td><%= link_to 'Mostrar', no_de_correo %></td>
        <% if current_user.admin? %>
            <td><%= link_to 'Editar', edit_no_de_correo_path(no_de_correo) %></td>
         <% end %>
	 <% if current_user.admin? %>
            <td><%= link_to 'Eliminar', no_de_correo, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          <% end %>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New No De Correo', new_no_de_correo_path %>
