<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @registro.Folio %>
</p>

<p>
  <strong>Soporte:</strong>
  <%= @registro.Soporte %>
</p>

<p>
  <strong>No referencia:</strong>
  <%= @registro.No_Referencia %>
</p>

<p>
  <strong>Fecha recepcion:</strong>
  <%= @registro.Fecha_Recepcion %>
</p>

<p>
  <strong>Fecha documento:</strong>
  <%= @registro.Fecha_documento %>
</p>

<p>
  <strong>Destinatario:</strong>
  <%= @registro.Destinatario %>
</p>

<p>
  <strong>Remitente:</strong>
  <%= @registro.Remitente %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @registro.Asunto %>
</p>

<p>
  <strong>Se turno a:</strong>
  <%= @registro.Se_Turno_A %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @registro.Documento %>
</p>

<p>
  <strong>Anexos:</strong>
  <%= @registro.Anexos %>
</p>

<p>
  <strong>Instruccion:</strong>
  <%= @registro.Instruccion %>
</p>

<p>
  <strong>Fecha limite:</strong>
  <%= @registro.Fecha_Limite %>
</p>
<p>
  <%= link_to 'Edit', edit_registro_path(@registro) %> |<%= link_to 'Back', registros_path %>
</p>
<div>
   <a href="/">HOME</a>
</div>
 


